body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
   font-size: 3.5rem;
   color: #333333; 
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 300px;
    background-color: #00aaff;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: #66ccff;
}
#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{ 
    font-size: 5rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 2rem;
}
.greenText, #playerScoreDisplay{
    color: #27ec48
}
.redText, #computerScoreDisplay{
    color: #ef4343
}